ol {
    background-color: yellow;
}

h1, h2, {
    color: red;
}

h1 em, h2 em {
    font-size: 40px;
    border: 1px solid black;

}

ol li:nth-of-type(2n) {
    color: green;
}

ol li:nth-of-type(2n+1) {
    text-transform: uppercase;
}

li {
    font-size: 20px;
}

li em {
    font-weight: 600;
}

#linguagens li:not(:nth-child(n + 4)) {
    color:blue;
}

.pink-bg {
    background-color: pink;
}

#allies a[href*="stackoverflow"]:hover {
    font-weight: bolder;
    color: orange;
}

#allies a[href*="w3schools"]:hover {
    font-weight: bolder;
    color: green;
}

#allies a[href*="mozilla"]:hover {
    font-weight: bolder;
    color: black;
}

#allies a[href*="devdocs"]:hover {
    font-weight: bolder;
    color: yellow;
}

#allies a[href*="trybe"]:hover {
    font-weight: bolder;
    color: limegreen;
}