        body {
            font-size: 16px;
        }

        h1 {
            font-size: 65px;
            font-family: sans-serif;
            color: orange;
        }

        ul {
            background-color: aqua;
            line-height: 40px;
            text-decoration:underline
        }

        .bg-p-ul {
            background-color: aquamarine;
        }

        p {
            font-weight: 600;
            font-size: 3em;
            font-style: italic;
            text-align: center;
        }

        #yellow {
            background-color:khaki;
        }

        #red {
            background-color: crimson;
        }

        #brown {
            background-color: brown;
        }